# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Plastic SCM (IMPORTANT)
.plastic/

# Node / frontend
node_modules/
.env

# Expo / JS tooling
.expo/

# Backups (DO NOT TRACK)
backups/

# OS / misc
.DS_Store
Thumbs.db